@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
  --color-text: #111111;
  --color-call: #fbdfdb;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

body {
  font-family: "Roboto";
  margin: 3% 13% 0 13%;
}

header {
  display: grid;
  grid-template-columns: 212px 72px 1fr 1fr 1fr;
  align-items: center;
}

header a {
  text-decoration: none;
  color: var(--color-text);
}

#chef {
  background-color: var(--color-call);
  border-radius: 30px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 600px 216px 1fr 1fr;
  height: 366px;
}

#chef-content {
    padding-top: 20vh;
    margin-left: 5vw;
    max-width: 330px;
}

#chef #chef-content h1 {
  font-size: 32px;
}

#chef #chef-content p {
  opacity: 0.7;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
}
